language: node_js
node_js:
  - "5"
  - "4"
  - "0.10"
  - "0.12"
env:
  - CXX=g++-4.8
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-4.8
after_script:
  - npm run coverage
  - cat coverage/lcov.info | node_modules/.bin/coveralls
